[Unit]
Description=BKG Dockerd PAF Rootless Runtime
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=DOCKER_PAF_ROOT=/opt/dockerd-paf
ExecStart=/opt/dockerd-paf/runtime/start.sh /opt/dockerd-paf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
